.navbar {
    margin-bottom: 0 !important;
}



#cover {
    background-size: 100% auto;
    background-image: url('img/IMG_0523.jpg');
}

.mission-statement {
    color: #EEF3E2 !important;
}

.jumboWell {
    background-color: rgba(0,0,0,0.7) !important;
    border-radius: 15px !important;
    padding-top: 0px !important;
    margin-top: 200px !important;
}
