.navbar {
    margin-bottom: 0 !important;
}

/* Obsolete cover photo

    #cover {
    background-size: 100% auto;
    background-image: url('img/IMG_0523.jpg');
}
    */


.introBox {
    background-color: rgba(0,0,0,.7) !important;
    border-radius: 15px !important;
    padding-top: 0em !important;
    margin-top: 1em !important;
    padding-bottom: 1em !important;
}

.carousel {
    margin-bottom: 20px !important;
}

.carousel-control {
    bottom: 40px !important;
    top: auto !important;
}

.main-text {
    position: absolute;
    top: 50px;
    width: 99.9999999%;
    margin-top: 10px;
    color: white;
}

.wrapper {
    padding-top: 5em;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -140px; /* the bottom margin is the negative value of the footer's height */
    background-color: #2B2B2B;
    color: white;
    margin-top: 1em;
}

.footer, .push {
    height: 140px; /* .push must be the same height as .footer */
}

#cover {
    margin-bottom: 1em;
}

.centerLine {
    border: 0 solid #8B7D6B;
    border-right: 1px solid #8B7D6B;
}

.thumbnail {
    max-height: 100%;
}